//- jQuery
script(type='text/javascript' src=jquery)

//- //- Greensock
//- script(type='text/javascript' src=tweenMax)
//- script(type='text/javascript' src=timelineMax)

//- JS
script(type='application/javascript' src=pathJs + '?v=#{version}')


